<div id="panel">
  
    <input
      [disabled]="!isInputProcessable()" 
      (input)="processBookmarkTitle($event)" 
      type="text" 
      placeholder="Bookmark title">
      
    <input
      [disabled]="!isInputProcessable()" 
      (input)="processBookmarkDescription($event)" 
      type="text" 
      placeholder="Description">
  
    <div>{{processableBookmark}}</div>
  
    <input
      [disabled]="!isInputProcessable()" 
      (input)="processBookmarkCategory($event)" 
      type="text" 
      placeholder="Bookmark category">
  
    <div id="footer-placeholder">
      <button 
        [disabled]="!isActionProcessable()"
        (click)="processNextBookmark()">Next bookmark</button>
      <button 
        [disabled]="!isProcessable()"
        (click)="saveBookmark()"
        >Save bookmark</button>
    </div>
  </div>